<message-pop title="services.title.tax" name="form-pop-tax">
    <div class="container-pop">
        <form id="formPopTax">
            <div class="row section">
                <div class="col">
                    <input type="hidden" id="idFormTax" name="id">
                    <plus-title label="services.input.name-tax" name="name" placeholder="services.placeholder.name-tax"
                        required id="nameTaxForm"></plus-title>
                </div>
            </div>
            <div class="row section">
                <div class="col">
                    <plus-quantity id="quantittyFormTax" label="services.input.quantity-tax" min="0" max="100" step="1" name="rate"></plus-quantity>
                </div>
            </div>
            <div class="row section">
                <div class="col">
                    <label t="services.label.description-tax"></label>
                    <textarea name="description" id="descriptionTaxForm"></textarea>
                </div>
            </div>
        </form>
    </div>
    <button type="button" class="btn btn-success btn-normal" t="btn.save" id="btn-form-tax" onclick="send_form_tax_to_the_server()"></button>
</message-pop>


<script>
    (() => {
        function restart_form(){
            const form = document.getElementById('formPopTax');
            form.reset();

            document.getElementById('quantittyFormTax').value=1;
            window.hide_pop('form-pop-tax');
        }


        async function get_information_tax(id) {
            //this function is for get the information of the departament 
            const backend=await window.send_message_to_the_server(`/services/get_information_tax/${id}/`, {}, true, 'GET')
            if(backend.success){
                //if get the information from the server now we will update the form 
                const data=backend.answer;
                document.getElementById('idFormTax').value=id;
                document.getElementById('nameTaxForm').value=data.name;
                document.getElementById('descriptionTaxForm').value=data.description;
                document.getElementById('quantittyFormTax').value=data.rate;

                window.show_pop('form-pop-tax');
                return;
            }

            window.show_alert('error', 'services.message.not-can-get-the-information-tax', backend.message || '', backend.error || '');
        }

        async function open_pop_tax(id = null) {
            restart_form();
            //if have a ID of the tax we will to call to the function for get his information
            if ((Number.isInteger(id))) {
                //here we will see if exist a id for open the pop.
                //If exist an id is because the user would like update a tax and we will to update the input in the input
                //else is because the user would like add a new tax
                document.getElementById('idFormTax').value = id;
                await get_information_tax(id);
                return;
            }

            document.getElementById('idFormTax').value = '';
            window.show_pop('form-pop-tax');
        }


        async function add_new_tax() {
            const backend = await window.send_form_to_the_server('formPopTax', '/services/add_tax/');
            if (backend.success) {
                restart_form();
                window.show_notification('success', 'services.success.the-tax-was-add');
                return;
            }

            window.show_alert('alert', 'services.message.the-tax-not-was-created', backend.message || '', backend.error || '');
        }

        async function update_tax(tax_id) {
            const backend = await window.send_form_to_the_server('formPopTax', `/services/update_tax/${tax_id}/`);
            if (backend.success) {
                restart_form();
                window.show_notification('success', 'services.success.the-tax-was-update');
                return;
            }

            window.show_alert('alert', 'services.message.the-tax-not-was-update', backend.message || '', backend.error || '');
        }


        async function send_form_tax_to_the_server() {
            //here we will see if exist or not exist the ID in the form
            //if exist the ID is because the user would like update the departament
            const id = document.getElementById('idFormTax').value;
            if (id && id.trim() !== "") {
                await update_tax(id);
                return;
            }

            await add_new_tax();
        }


        window.open_pop_tax = open_pop_tax;
        window.send_form_tax_to_the_server =send_form_tax_to_the_server ;
    })();
</script>