<plus-navbar>
    <option t="sales.navbar.sales" link="sales/sales/"></option>
    <option t="sales.navbar.new" link="sales/add_sale/"></option>
    <option t="sales.navbar.products">
        <sub-option t="sales.navbar.see-products" link="services/services/"></sub-option>
    </option>
    <option t="sales.btn.print" onclick="btn_print_buy()"></option>
    <option t="sales.btn.send_email" onclick="send_buy_for_email()"></option>
    <option t="sales.btn.cancell" onclick="cancel_sale()"></option>
</plus-navbar>