.env
media/*
templates/*
views/*
node_modules/

apps/agenda/config/credentials.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.env

# Base de datos local
db.sqlite3

# Archivos de medios (imágenes subidas por usuarios)
media/

staticfiles/

#cache of file 
cache_files.json