SECRET_KEY=xxx
KEY_TINYMCE=xxx

DB_HOST=localhost
DB_PORT=5432
DB_NAME=xxxxx
DB_USER=xxxxx
DB_PASS=xxxxx

DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,192.168.1.75

PLUS_URL=xxxxx

TYPE_VERSION=DESKTOP
PATH_CLOUD_FILE=xxxxx
DATA_ENCRYPTION_KEY=xxxxx
FIELD_ENCRYPTION_KEY=xxxxx

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

DEFAULT_FROM_EMAIL=xxx
EMAIL_HOST=xxx
EMAIL_HOST_USER=xxx
EMAIL_HOST_PASSWORD=xxx xxx xxx
