<plus-modules>
    <plus-module name="web_profile.module.profile" desc="" icon="fi fi-rr-user">
        {% include 'partials_profile_online/info_profile.html' %}
    </plus-module>
    <plus-module name="web_profile.module.services" desc="" icon="fi fi-rr-briefcase">
        {% include 'partials_profile_online/services.html' %}
    </plus-module>
    <plus-module name="web_profile.module.schedules" desc="" icon="fi fi-rr-clock-three">
        {% include 'partials_profile_online/schedules.html' %}
    </plus-module>
    <plus-module name="web_profile.module.address" desc="" icon="fi fi-rs-marker">
        {% include 'partials_profile_online/address.html' %}
    </plus-module>
</plus-modules>
