<div class="container-pop">
    <plus-tabs>
        <plus-tab text="Description">
            <div class="section">
                <label t="label-input-title">Title of the event</label>
                <input type="text" name="name_event" class="case-title-input" placeholder="Title"
                    t-placeholder="placeholder-input-title" required maxlength="300" />
            </div>


            <div class="section">
                <div class="row m-1">
                    <plus-select label="priority" name="priority" required>
                        <option selected t="priority.low"></option>
                        <option t="priority.normal"></option>
                        <option t="priority.high"></option>
                    </plus-select>

                    <plus-select label="label-search-home" name="tipo_documento" required
                        link="customers/search_customers_select/" add="open_pop_new_type_event" edit_data="edit_data"
                        delete_data="customers/search_customers_select/">
                    </plus-select>
                </div>
            </div>

            <div class="section">
                <plus-switch text="all-day" name="allDay" onclick="activate_event_all_the_day"></plus-switch>

                <div class="row section">
                    <plus-date label="starts" name="start_date" id="start_date"></plus-date>
                    <plus-time label="min-start" name="start_time" id="start_time"></plus-time>
                </div>

                <div class="row section">
                    <plus-date label="ends" name="end_date" id="end_date"></plus-date>
                    <plus-time label="min-end" name="end_time" id="end_time"></plus-time>
                </div>

            </div>

            <div class="section">
                <plus-select label="Tiempo de aviso" name="alert_time" required>
                    <option selected t="alert.none"></option>
                    <option t="alert.5min"></option>
                    <option t="alert.10min"></option>
                    <option t="alert.15min"></option>
                    <option t="alert.30min"></option>
                    <option t="alert.1hr"></option>
                    <option t="alert.2hr"></option>
                    <option t="alert.1day"></option>
                    <option t="alert.2day"></option>
                    <option t="alert.1week"></option>
                </plus-select>
            </div>

            <div class="section">
                <info-label label="Email de invitados"
                    message="Agrega correos y presiona Enter, coma o espacio"></info-label>
                <plus-emails id="invitados" name="correos_invitados" label="Email de invitados"></plus-emails>
            </div>

            <div class="section">
                <label for="description" t="label-description">Description</label>
                <textarea name="description" id="description" rows="4"
                    t-placeholder="placeholder-description"></textarea>
            </div>


        </plus-tab>


        <plus-tab text="More options">
            <div class="section">
                <input-field label="label-input-address" name="location"
                    placeholder="placeholder-input-address"></input-field>
            </div>

            <div class="section">
                <input-field label="label-link" type="text" name="link" placeholder="www/..."></input-field>
            </div>


            <plus-switch text="repeat_this_event" name="repeat_event" id="repeat_this_event"
                onclick="hidden_input_repet"></plus-switch>

            <div class="section" id="input_repet" style="display: none;">
                <div class="row m-1">
                    <plus-select label="repeat" name="repeat" requerid>
                        <option selected t="option.never"></option>
                        <option t="option.every_day"></option>
                        <option t="option.every_week"></option>
                        <option t="option.every_2_weeks"></option>
                        <option t="option.every_month"></option>
                        <option t="option.every_year"></option>
                    </plus-select>


                    <plus-select label="endRepeat" name="endRepeat" requerid>
                        <option selected t="option.never">Never</option>
                        <option t="option.on_day">On Day</option>
                    </plus-select>
                </div>
            </div>

            <plus-switch text="send_notification" name="send_notification" checked="true"></plus-switch>

            <plus-switch text="i_am_free" name="i_am_free" checked="true"></plus-switch>
        </plus-tab>
    </plus-tabs>
</div>


<button class="btn btn-add btn-success" t="message.success">Save</button>