<message-pop title="title-pop-edit-event" name="pop-edit-event">
<div class="container-pop">
    <form  id="formCreateNewEvent">
    <plus-tabs>
        <plus-tab text="Description">
            <div class="section">
                <label t="label-input-title">Title of the event</label>
                <input type="text" name="name_event" class="case-title-input" placeholder="Title"
                    t-placeholder="placeholder-input-title" required maxlength="300" id="title_event"/>
            </div>

            <div class="section">
                <div class="row m-1">
                    <plus-select label="priority" name="priority" id="priority_edit"  required>
                        <option selected t="priority.low" value="0"></option>
                        <option t="priority.normal" value="1"></option>
                        <option t="priority.high" value="2"></option>
                    </plus-select>

                    <plus-select label="search-type-event" name="type_event" required id="type_appoint_edit"
                        link="agenda/get_the_first_type_events/" add="open_pop_new_type_event" edit_data="edit_data"
                        delete_data="agenda/delete_type_event/">
                    </plus-select>
                </div>
            </div>

            <div class="section">
                <plus-switch text="all-day" id="activate_event_all_the_day_edit" name="activate_event_all_the_day_edit" onclick="activate_event_all_the_day_edit"></plus-switch>
                <label t="starts" style="margin-bottom: -24px; display: block;"></label>
                <div class="row section">
                    <plus-date label="starts" name="start_date_edit" id="start_date_edit"></plus-date>
                    <plus-time label="min-start" name="start_time_edit" id="start_time_edit"></plus-time>
                </div>

                <label t="ends" style="margin-bottom: -24px; display: block;"></label>
                <div class="row section">
                    <plus-date label="ends" name="end_date_edit" id="end_date_edit"></plus-date>
                    <plus-time label="min-end" name="end_time_edit" id="end_time_edit"></plus-time>
                </div>

            </div>

            <div class="section">
                <plus-select label="time-of-alert" name="alert_time" required id="alert_time_edit">
                    <option selected t="alert.none" value="0"></option>
                    <option t="alert.5min" value="5"></option>
                    <option t="alert.10min" value="10"></option>
                    <option t="alert.15min" value="15"></option>
                    <option t="alert.30min" value="30"></option>
                    <option t="alert.1hr" value="60"></option>
                    <option t="alert.2hr" value="120"></option>
                    <option t="alert.1day" value="1440"></option>
                    <option t="alert.2day" value="2880"></option>
                    <option t="alert.1week" value="10080"></option>
                </plus-select>
            </div>

            <div class="section">
                <info-label label="emails-guests"
                    message="email-message-show"></info-label>
                <plus-tags id="emails_guests_edit" name="emails_guests" label="emails-guests" message="email-message-show" t-placeholder="input.add-most-email"></plus-tags>
            </div>

            <div class="section">
                <label for="description" t="label-description">Description</label>
                <textarea name="description" id="edit_description" rows="4"
                    t-placeholder="placeholder-description"></textarea>
            </div>


        </plus-tab>


        <plus-tab text="More options">
            <div class="section">
                <input-field label="label-input-address" name="location" id="edit_location"
                    placeholder="placeholder-input-address"></input-field>
            </div>

            <div class="section">
                <input-field label="label-link" type="text" name="link" id="edit_link" placeholder="www/..."></input-field>
            </div>


            <plus-switch text="repeat_this_event" name="repeat_this_event" id="repeat_this_event_edit"
                onclick="hidden_input_repet"></plus-switch>

            <div class="section" id="input_repet" style="display: none;">
                <div class="row m-1">
                    <plus-select label="repeat" name="time_repeat" requerid id="time_repeat_edit">
                        <option selected t="option.never" value="0"></option>
                        <option t="option.every_day" value="1"></option>
                        <option t="option.every_week" value="7"></option>
                        <option t="option.every_2_weeks" value="15"></option>
                        <option t="option.every_month" value="30"></option>
                        <option t="option.every_year" value="365"></option>
                    </plus-select>


                    <plus-select label="endRepeat" name="time_end_repeat" requerid id="time_end_repeat_edit">
                        <option selected t="option.never" value="0">Never</option>
                        <option t="option.on_day" value="1">On Day</option>
                        <option t="option.on_week" value="7">A week</option>
                        <option t="option.on_2_weeks" value="15">Two week</option>
                        <option t="option.on_month" value="30">A Month</option>
                        <option t="option.on_year" value="365">A Year</option>
                    </plus-select>
                </div>

            </div>

            <plus-switch text="send_notification" name="send_notification" checked="true"></plus-switch>

            <plus-switch text="i_am_free" name="i_am_free" checked="true"></plus-switch>
        </plus-tab>
    </plus-tabs>
    </form>
</div>

<button class="btn btn-edit btn-success" t="btn.update">Save</button>
</message-pop>



<script>
    function activate_event_all_the_day_edit(status) {
        //her also update the information of the minutes for get the time 
        window.change_plus_time('start_time_edit', '00:00');
        window.change_plus_time('end_time_edit', '23:59');
    }



  window.show_character_appoint = function(id) {
    const appoints=window.get_the_list_of_appointments();
    const appoint=appoints.find(app=>app.id===id);
    
    if(appoint){
        const dataAppoints=appoint.appoints[0];
        console.log(JSON.stringify(dataAppoints, null, 2));
        
        //update the information of the appoint 
        document.getElementById('title_event').value=dataAppoints.title || '';
        window.set_value_plus_select('priority_edit', dataAppoints.priority || '0');
        window.set_value_plus_select('type_appoint_edit', dataAppoints.type_appoint.id || '', dataAppoints.type_appoint.name || '');

        //here we will to update the format date in the form
        const date_start=dataAppoints.date_start || '';
        const date_finish=dataAppoints.date_finish || '';
        window.set_status_plus_switch('activate_event_all_the_day_edit',dataAppoints.activate_event_all_the_day || false);
        window.update_input_date_and_time('start_date_edit','start_time_edit',date_start)
        window.update_input_date_and_time('end_date_edit','end_time_edit',date_finish)
        window.set_value_plus_select('alert_time_edit', dataAppoints.time_alert || '0');

        //her update the information of contact of the appointment
        document.getElementById('edit_description').value=appoint.description || '';
        document.getElementById('edit_location').value=appoint.location || '';
        document.getElementById('edit_link').value=appoint.link || '';
        document.getElementById('invitados').value=appoint.emails_guests || '';

        window.set_status_plus_switch('repeat_this_event_edit',dataAppoints.repeat_this_event || false);

        window.set_value_plus_select('time_repeat_edit', dataAppoints.time_repeat || '0');
        window.set_value_plus_select('time_end_repeat_edit', dataAppoints.finish_repeat_date || '0');

        document.getElementById('emails_guests_edit').setTags(appoint.emails_guests || '');
        document.getElementById('emails_guests_edit').addTag('ejemplo');
        /*
        document.getElementById('time_end_repeat').value=appoint.time_end_repeat || '';
        */

        open_my_pop('pop-edit-event');
    }
  };



</script>