<style>
    .badge-type {
        display: inline-block;
        padding: 4px 12px;
        font-size: 13px;
        font-weight: 600;
        border-radius: 20px;   /* más redondeado estilo "tag" */
        border: 1px solid rgba(0,0,0,0.1); /* sutil borde */
        text-transform: capitalize;
        white-space: nowrap;
        transition: all 0.2s ease-in-out;
        color: rgba(0,0,0,0.8);
    }

    table{
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        border-collapse: collapse;
    }

    table th,
    table td {
        padding: 8px 12px;
        text-align: left;
        white-space: nowrap; /* evita que se rompan los textos */
    }
</style>
<message-pop title="title.show-all-my-appoints" name="pop-show-all-my-events" style="width: 80%;">
    <div class="row">
        <div class="col">
            <search-bar placeholder="message.search" function-callback="filter_table_appoints" id="input-search-all-my-event"></search-bar>
        </div>
    </div>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <th t="event" style="width:15%;">Title</th>
                    <th t="description" style="width:20%;">Descripción</th>
                    <th t="range-date" style="width:15%;">Inicio</th>
                    <th t="range-date" style="width:15%;">Finish</th>
                    <th t="type" style="width:10%;">Type event</th>
                    <th t="priority" style="width:5%;">Prioridad</th>
                    <th t="ubication" style="width:10%;">Ubicación</th>
                    <th style="width:5%;"></th>
                    <th style="width:5%;"></th>
                </tr>
            </thead>
            <tbody id="body-table-my-events">

            </tbody>
        </table>
    </div>
</message-pop>


<script>
    function filter_table_appoints(text){
        const divHtml = `
            <td> { title } </td>
            <td>{ description } </td>
            <td> { date_start } </td>
            <td> { date_finish } </td>
            <td><span class="badge-type" style="background-color: ' { type_appoint_color } ';">{ type_appoint_name }</span></td>
            <td> { priority } </td>
            <td>{ location }</td>
            <td>
                <button class="btn btn-transparent" onclick='show_character_appoint( { id } )'><i class="fi fi-sr-pencil"></i></button>
            </td>
            <td>
                <button class="btn btn-transparent"><i class="fi fi-sr-trash"></i></button>
            </td>
        `

        window.update_container_with_seeker(
            ['input-search-all-my-event'], // id of the input of the seeker
            'body-table-my-events',  // id of the container to update
            divHtml,            // template with placeholders
            'agenda/search_events/', // url for the search
            'GET'
        );
    }
</script>
<script>
(() => {

})();
</script>