<style>
.plus-departament-title {
    margin-bottom: 20px;
    color: #333;
}

.plus-departament-dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* Responsividad */
@media (max-width: 992px) {
    .plus-departament-dashboard {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .plus-departament-dashboard {
    grid-template-columns: repeat(1, 1fr);
    }
}

.plus-departament-card {
    position: relative;
    background: #fff;
    padding: 16px 16px 16px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.plus-departament-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background: var(--color, #6C63FF);
    border-radius: 8px 0 0 8px;
}

.plus-departament-card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.plus-departament-card-header h2 {
    font-size: 1.2rem;
    margin: 0;
    color: #222;
}

.plus-departament-menu-icon {
    font-size: 18px;
    color: #888;
    cursor: pointer;
}

.plus-departament-description {
    font-size: 0.9rem;
    color: #555;
    margin: 6px 0 12px 0;
}

.plus-departament-manager {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.plus-departament-manager img {
width: 40px;
height: 40px;
border-radius: 10%;
margin-right: 10px;
object-fit: cover;
object-position: center;
image-rendering: auto;  
}

.plus-departament-manager span {
    font-size: 0.9rem;
    color: #333;
    font-weight: 500;
}

.plus-departament-card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #444;
}

.plus-departament-badge {
    background: #E8EAF6;
    color: #3F51B5;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.75rem;
}
</style>

{% load static %}
<!---seeker---->
<div class="row">
    <div class="col-9">

    </div>
    <div class="col-3 p-3">
        <plus-search input_id="search-department">
            <search-option>
                <button class="btn btn-add" onclick="window.open_my_pop('pop-form-departament')">+</button>
            </search-option>
        </plus-search>
    </div>
</div>

<!---table of the departament--->
<div class="plus-departament-dashboard p-4" id="department-list">
    <div class="plus-departament-card" style="--color:#085DA9">
        <div class="skeleton skeleton-rect" style="width: 40%;"></div>
        <br>
        <div class="skeleton skeleton-input"></div>
        <div class="row">
            <div class="col-2">
                <div class="skeleton skeleton-circle"></div>
            </div>
            <div class="col-10">
                <br>
                <div class="skeleton skeleton-rect" style="width: 50%;"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                <div class="skeleton skeleton-rect" style="width: 50%;"></div>
            </div>
            <div class="col-2">
                <div class="skeleton skeleton-rect" style="width: 100%;"></div>
            </div>
        </div>
    </div>

    <div class="plus-departament-card" style="--color:#085DA9">
        <div class="skeleton skeleton-rect" style="width: 40%;"></div>
        <br>
        <div class="skeleton skeleton-input"></div>
        <div class="row">
            <div class="col-2">
                <div class="skeleton skeleton-circle"></div>
            </div>
            <div class="col-10">
                <br>
                <div class="skeleton skeleton-rect" style="width: 50%;"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                <div class="skeleton skeleton-rect" style="width: 50%;"></div>
            </div>
            <div class="col-2">
                <div class="skeleton skeleton-rect" style="width: 100%;"></div>
            </div>
        </div>
    </div>

    <div class="plus-departament-card" style="--color:#085DA9">
        <div class="skeleton skeleton-rect" style="width: 40%;"></div>
        <br>
        <div class="skeleton skeleton-input"></div>
        <div class="row">
            <div class="col-2">
                <div class="skeleton skeleton-circle"></div>
            </div>
            <div class="col-10">
                <br>
                <div class="skeleton skeleton-rect" style="width: 50%;"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                <div class="skeleton skeleton-rect" style="width: 50%;"></div>
            </div>
            <div class="col-2">
                <div class="skeleton skeleton-rect" style="width: 100%;"></div>
            </div>
        </div>
    </div>

    <div class="plus-departament-card" style="--color:#085DA9">
        <div class="skeleton skeleton-rect" style="width: 40%;"></div>
        <br>
        <div class="skeleton skeleton-input"></div>
        <div class="row">
            <div class="col-2">
                <div class="skeleton skeleton-circle"></div>
            </div>
            <div class="col-10">
                <br>
                <div class="skeleton skeleton-rect" style="width: 50%;"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                <div class="skeleton skeleton-rect" style="width: 50%;"></div>
            </div>
            <div class="col-2">
                <div class="skeleton skeleton-rect" style="width: 100%;"></div>
            </div>
        </div>
    </div>

</div>

<script>
    (()=>{
        const divHtml=`
            <div class="plus-departament-card" style="--color:#9C27B0">
                <div class="plus-departament-card-header">
                <h2>Marketing</h2>
                <i class="fi fi-rr-menu-dots-vertical plus-departament-menu-icon"></i>
                </div>
                <p class="plus-departament-description"> { description } </p>
                
                <!-- Manager -->
                <div class="plus-departament-manager">
                <img src="https://img.freepik.com/fotos-premium/retrato-mujer-negocios-cara-feliz-sobre-fondo-blanco-aislado-nuestra-foto-perfil-e-identificacion-empleado-trabajador-corporativo-sonrisa-gestion-ideas-vision-e-innovacion-maqueta_590464-128059.jpg" alt="Manager Marketing">
                <span>Laura Ramírez</span>
                </div>

                <div class="plus-departament-card-footer">
                <span><i class="fi fi-rr-employee-man-alt"></i> 10</span>
                <span class="plus-departament-badge" t="departament_employee.label.activate">Activate</span>
                </div>
            </div>
        `
    
        update_container_with_seeker(
            'search-department',
            'department-list',
            divHtml,
            '/departament_employee/search_employee_department/1/',
            'GET',
            true
        );
    })();
</script>

<!---pop for add a new departament--->
<message-pop title="departament_employee.title.create-new-departament" name="pop-form-departament">
    <form id="form-departament">
        <input type="hidden" id="departament_id" name="departament_id">
        <plus-title label="departament_employee.label.name-departament" placeholder="departament_employee.input.name-departament" name="name-departament" id="name-departament" required></plus-title>
        <label t="departament_employee.input.description"></label>
        <textarea name="description-departament" id="description-departament"></textarea>

        <div class="row">
            <div class="col">
                <plus-select name="id_manager" id="id_manager" label="departament_employee.label.manager" 
                link="/departament_employee/search_employee/" method="GET"
                ></plus-select>
            </div>
            <div class="col">
                <label t="departament_employee.label.color"></label>
                <input-color name="color-departament" id="color-departament"></input-color>
            </div>
        </div>

        <button class="btn btn-add btn-edit" t="btn.save" type="button" onclick="send_form_departament_to_the_server()"></button>
    </form>
</message-pop>

<script>
    async function add_a_new_departament(){
        //here we will send the form to the server for try add a new departament in the company
        //if the departament was added we will show a message of success or a message of error 
        const backend=await window.send_form_to_the_server('form-departament', 'departament_employee/add_new_departament/');
        if(backend.success){
            window.restart_form('form-departament') //restart the form
            window.hide_pop('pop-form-departament')
            window.show_alert('success', 'departament_employee.title.the-departament-was-added-with-success', 'departament_employee.message.the-departament-was-added-with-success', backend.error || '')
        }else{
            window.show_alert('error', 'departament_employee.error.the-departament-not-was-added-with-success', backend.message, backend.error || '')
        }
    }

    async function update_a_departament(){
        //here we will send the form to the server for try update a departament of the company
        //if the departament was update we will show a message of success or a message of error 
        const backend=await window.send_form_to_the_server('form-departament', 'departament_employee/add_new_departament/');
        if(backend.success){
            window.restart_form('form-departament') //restart the form
            window.hide_pop('pop-form-departament')
            window.show_alert('success', 'departament_employee.title.the-departament-was-added-with-success', 'departament_employee.message.the-departament-was-added-with-success', backend.error || '')
        }else{
            window.show_alert('error', 'departament_employee.error.the-departament-not-was-added-with-success', backend.message, backend.error || '')
        }  
    }

    async function send_form_departament_to_the_server(){
        //first we will see if the form have name
        if(document.getElementById('name-departament').value==''){
            window.show_alert('alert', 'departament_employee.error.the-departament-not-was-added-with-success', 'departament_employee.error.the-departament-need-name')
        }else{
            //now we will see if the user would like update the departament or need add a new departament in the company
            //if the input of the <departament_id> is null is because the user would like add a new departament
            if(document.getElementById('departament_id').value==''){
                await add_a_new_departament();
            }else{
                await update_a_departament();
            }
        }
    }

    async function get_information_for_edit_departament(departament_id){
        //this function is for get the information of the departament from the backend 
        //and update the inputs of the <pop-form-departament> 
        const backend=await send_message_to_the_server(`departament_employee/get_information_of_the_departament/${departament_id}`, {}, true, 'GET');
        if(backend.success){
            //if we can get the information of the server, now we will update the information of the form and show in the screen
            const dataDepartament=backend.answer;
            document.getElementById('departament_id').value=dataDepartament.id;
            document.getElementById('name-departament').value=dataDepartament.name;
            document.getElementById('description-departament').value=dataDepartament.description;
            document.getElementById('id_manager').setValue(dataDepartament.id_manager, dataDepartament.name_manager);
            document.getElementById('color-departament').updateColor(dataDepartament.color);

            window.open_my_pop('pop-form-departament');
        }else{
            window.show_alert('error', 'departament_employee.error.the-departament-not-was-added-with-success', backend.message, backend.error || '')
        }
    }
</script>



