
<!-------address company-->
{% if permissions.edit_company %}
<message-pop name="address_company" title="setting.label.address">
    <form id="form_address_company">
    <div class="row section">
        <div class="col">
            <plus-country label="setting.label.country" name="country"  value="{{ company.country }}"></plus-country>
        </div>
        <div class="col">
            <input-field 
                label="setting.label.postal_code" 
                placeholder="setting.placeholder.postal_code" 
                value="{{ company.postal_code }}" 
                name="postal_code" 
                type="text">
            </input-field>
        </div>
    </div>

    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.city" 
                placeholder="setting.placeholder.city" 
                value="{{ company.city }}" 
                name="city">
            </input-field>
        </div>
        <div class="col">
            <input-field 
                label="setting.label.state" 
                placeholder="setting.placeholder.state" 
                value="{{ company.state }}" 
                name="state">
            </input-field>
        </div>
    </div>

    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.address" 
                placeholder="setting.placeholder.address" 
                value="{{ company.address }}" 
                name="address">
            </input-field>
        </div>
    </div>
    <br>
    <button class="btn btn-edit btn-success" t="message.success" onclick="send_form_address_company('form_address_company', 'address_company')" type="button"></button>
    </form>
</message-pop>


<!-------address company-->
<message-pop name="config_company" title="setting.show.setting-company">
    <form id="form_config_company">
    <label t="setting.info.setting-company"></label>

    <div class="row section">
        <div class="col-6">
            <plus-select label="setting.label.default_currency" name="default_currency" value="{{ company.default_currency }}" >
                {% include 'core/option_currency.html' %}
            </plus-select>
        </div>
        <div class="col-6">
            <plus-select label="setting.label.date_format" name="date_format" value="{{ company.date_format }}">
                {% include 'core/option_data_format.html' %}
            </plus-select>
        </div>
    </div>
    <div class="row section">
        <div class="col-6">
            <plus-select label="setting.label.decimal_separator" name="decimal_separator" value="{{ company.decimal_separator }}" >
                <option value="," t="setting.option.decimal_separator2"></option>
                <option value="." t="setting.option.decimal_separator1"></option>
            </plus-select>
        </div>
        <div class="col-6">
            <plus-select label="setting.label.thousands_separator" name="thousands_separator" value="{{ company.thousands_separator }}" >
                <option value="," t="setting.option.thousands_separator2"></option>
                <option value="." t="setting.option.thousands_separator1"></option>
            </plus-select>
        </div>
    </div>
    <div class="row section">
        <div class="col-6">
            <plus-select label="setting.label.date_format" name="timezone" value="{{ company.timezone }}" >
                {% include 'core/option_timezone.html' %}
            </plus-select>
        </div>
    </div>
    <br>
    <button class="btn btn-edit btn-success" t="message.success" onclick="send_form_address_company('form_config_company', 'config_company')" type="button"></button>
    </form>
</message-pop>






<script>
    async function send_form_address_company(form_id, pop){
        //send the information to the server and get his answer
        const result = await send_form_to_the_server(form_id, 'setting/view_update_company/');

        //we will see if we can add the new customer
        if (result.success) {
            show_notification('success', result.message || 'info.info-send-with-success');
            window.hide_pop(pop);
        } else {
            show_alert('alert', 'Error', result.message || 'info.not-was-can-send-the-information', (result.error || 'info.not-was-can-send-the-information'))
        }
    }
</script>
{% endif %}
