<label for="" t="setting.module.drives" icon="fi fi-rr-plug-connection"></label>
<hr>
  <label t="setting.text.host-driver"></label>
  <a href="">Download</a>
<div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.host-driver" 
                placeholder="http://localhost:5000" 
                value="{{ branch.whatsapp_number }}" 
                name="host_driver" 
                type="text">
            </input-field>
        </div>
    </div>

    <button class="btn btn-edit btn-success" t="btn.save"></button>
