<label t="setting.module.google" icon="fi fi-rr-envelope"></label>
<hr>
<div class="row section">
    <div class="col">
        <input-field label="setting.label.google_user" placeholder="setting.placeholder.google_user"
            value="{{ branch.google_user }}" name="google_user" type="email">
        </input-field>
    </div>
</div>
<div class="row section">
    <div class="col">
        <input-field label="setting.label.google_password" placeholder="setting.placeholder.google_password"
            value="{{ branch.google_password }}" name="google_password" type="password">
        </input-field>
    </div>
</div>
<button class="btn btn-edit btn-success" t="btn.save" type="button"></button>
