    <input-field 
        label="setting.label.opening_time" 
        placeholder="setting.placeholder.opening_time" 
        value="{{ branch.opening_time }}" 
        name="opening_time" 
        type="time">
    </input-field>

    <input-field 
        label="setting.label.closing_time" 
        placeholder="setting.placeholder.closing_time" 
        value="{{ branch.closing_time }}" 
        name="closing_time" 
        type="time">
    </input-field>

    <input-field 
        label="setting.label.opening_days" 
        placeholder="setting.placeholder.opening_days" 
        value="{{ branch.opening_days }}" 
        name="opening_days" 
        type="text">
    </input-field>