<div class="container-section">
    <div class="row section">
        <div class="col-6">
            <plus-select 
                label="setting.label.default_currency" 
                value="{{ company.default_currency }}" 
                name="default_currency">
                {% include 'core/option_currency.html' %}
            </plus-select>
            
        </div>
    </div>

    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.thousands_separator" 
                placeholder="setting.placeholder.thousands_separator" 
                value="{{ company.thousands_separator }}" 
                name="thousands_separator" 
                type="text">
            </input-field>
        </div>
        <div class="col">
            <input-field 
                label="setting.label.decimal_separator" 
                placeholder="setting.placeholder.decimal_separator" 
                value="{{ company.decimal_separator }}" 
                name="decimal_separator" 
                type="text">
            </input-field>
        </div>
    </div>

    <div class="row section">
        <div class="col-6">
            <plus-select label="setting.label.timezone" name="timezone" required value="{{ company.timezone }}">
            {% include 'core/option_timezone.html' %}
            </plus-select>
        </div>
    </div>

    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.date_format" 
                placeholder="setting.placeholder.date_format" 
                value="{{ company.date_format }}" 
                name="date_format" 
                type="text">
            </input-field>
        </div>
    </div>
    <button class="btn btn-edit btn-success" t="btn.save" type="button"></button>
</div>