<div class="container-section">
    <div class="row section">
        <div class="col-6">
            <plus-select 
                label="setting.label.default_currency" 
                value="{{ branch.default_currency }}" 
                name="default_currency">
                {% include 'core/option_currency.html' %}
            </plus-select>
        </div>
        <div class="col-6">
            <plus-select 
                label="setting.label.default_language" 
                value="{{ branch.default_language }}" 
                name="default_language">
                <option value="es" t="setting.language.es"></option>
                <option value="en" t="setting.language.en"></option>
                <option value="pl" t="setting.language.pl"></option>
            </plus-select>
        </div>
    </div>

    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.thousands_separator" 
                placeholder="setting.placeholder.thousands_separator" 
                value="{{ branch.thousands_separator }}" 
                name="thousands_separator" 
                type="text">
            </input-field>
        </div>
        <div class="col">
            <input-field 
                label="setting.label.decimal_separator" 
                placeholder="setting.placeholder.decimal_separator" 
                value="{{ branch.decimal_separator }}" 
                name="decimal_separator" 
                type="text">
            </input-field>
        </div>
    </div>

    <div class="row section">
        <div class="col-6">
            <plus-select label="setting.label.timezone" name="timezone" required value="{{ branch.timezone }}">
            {% include 'core/option_timezone.html' %}
            </plus-select>
        </div>
    </div>

    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.date_format" 
                placeholder="setting.placeholder.date_format" 
                value="{{ branch.date_format }}" 
                name="date_format" 
                type="text">
            </input-field>
        </div>
    </div>
    <button class="btn btn-edit btn-success" t="btn.save" type="button"></button>
</div>