<label t="setting.module.whatsapp" desc="" icon="fi fi-brands-whatsapp"></label>
<hr>
<h2 t="setting.title.connect-your-count-of-whatsapp"></h2>
<p t="setting.info.connect-your-count-of-whatsapp"></p>
<a href="https://www.facebook.com/v24.0/dialog/oauth?client_id={{facebook_id}}&redirect_uri={{facebook_redirect_uri}}&scope=whatsapp_business_management,whatsapp_business_messaging,business_management&response_type=code">
    
    <button class="btn btn-success btn-edit" t="setting.btn.connect-your-count-of-whatsapp"></button>

    <br><br><br><br>
    <a href="https://business.whatsapp.com/messaging/business-platform-guide-api?locale=es_LA&content_id=YLcAyjuoai0rscv&gad_source=1&gad_campaignid=23186316201&gclid=CjwKCAiAxc_JBhA2EiwAFVs7XFIq4V19rkgKcG1QQFsIV-SLAD0JXVvlqYrlUgZQTkJCJXE5_WvRHxoCaPYQAvD_BwE" t="setting.btn.do-you-not-a-count" target="_blank"></a>
</a>