{% load static %}
<input type="hidden" name="customer_id" value="{{ customer_id }}" id="customer_id">
<div id="info-history-medical">
    <div class="container-section">
        <div class="section skeleton-container">
            <div class="skeleton skeleton-circle"></div>
            <div class="skeleton skeleton-rect"></div>
            <div class="skeleton skeleton-rect" style="width: 80%;"></div>
            <div class="skeleton skeleton-input"></div>
        </div>
        <br>
        <div class="section skeleton-container">
            <div class="row">
                <div class="col">
                    <div class="skeleton skeleton-input"></div>
                </div>
                <div class="col">
                    <div class="skeleton skeleton-rect" style="width: 40%;"></div>
                </div>
            </div>
            <div class="skeleton skeleton-rect" style="width: 40%;"></div>
            <div class="skeleton skeleton-rect" style="width: 80%;"></div>
            <div class="skeleton skeleton-input"></div>
        </div>
        <br>
        <div class="section skeleton-container">
            <div class="skeleton skeleton-rect"></div>
            <div class="skeleton skeleton-rect" style="width: 80%;"></div>
            <div class="skeleton skeleton-input"></div>
        </div>
    </div>
</div>



<script>
    (async()=>{
        const customer_id=document.getElementById('customer_id').value;
        const container = document.getElementById('info-history-medical');
        const backend=await send_message_to_the_server(`/medical_history/get_form_medical_history/${customer_id}/`, {}, false, 'GET')

        if(backend.success){
          await load_html_in_the_container('info-history-medical',backend.answer)
        }else{
        const t=window.translate_text('medical-history.home.message.no-history-select')
        container.innerHTML = `
            <div class="full-center">
                <img src="{% static 'img/loading_history_medical.webp' %}" alt="" loading="lazy">
            </div>
        `;
        }
    })();
</script>











