{% load static %}
<style>
.customers-list {
  width: 100%;
  height: 100vh;
}

.keleton-width-all{
  width: 100%;
}
</style>
<plus-switch-column id="customers-switch">
  <div slot="col1">
  <div class="container-section">
    <plus-search input_id="seacrh">
        <search-option>
            <plus-actions>
                <plus-action text="rolesAndPermissions.navbar.add-a-new-rol" onclick="create_new_role" combo="Shift+n" icon="fi fi-sr-add"></plus-action>
                <plus-action text="rolesAndPermissions.option.restart-role" onclick="open_pop_restart" combo="Shift+r" icon="fi fi-br-refresh"></plus-action>
            </plus-actions>
        </search-option>
    </plus-search>
  </div>

    <!---here is for update the container of the table---->
    <div class="customers-list" id="customer-list">
      <div class="section skeleton-container">
        <div class="skeleton skeleton-circle"></div>
        <div class="skeleton skeleton-rect"></div>
        <div class="skeleton skeleton-rect" style="width: 80%;"></div>
        <div class="skeleton skeleton-input"></div>
      </div>

      <br>
      <div class="section skeleton-container">
        <div class="skeleton skeleton-circle"></div>
        <div class="skeleton skeleton-rect"></div>
        <div class="skeleton skeleton-rect" style="width: 80%;"></div>
        <div class="skeleton skeleton-input"></div>
      </div>
    </div>  
  </div>

  <div slot="col2">
    <button class="btn btn-edit btn-mobile" onclick="toggle_switch_column('customers-switch',false)">×</button>
    <div class="info-customer" id="info-customer">
        <div class="full-center">
            <img src="{% static 'img/loading_history_medical.webp' %}" alt="" loading="lazy">
            <h3 t="medical-history.home.message.no-history-select">No customer selected</h3>        
        </div>
    </div>
  </div>
</plus-switch-column>