
<div id="container-load">
    <div class="row">
        <div class="col-8">
            <div class="container-section" >
                <div class="row p-4">
                    <div class="col-2">
                        <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                    </div>
                    <div class="col-2">
                        <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                    </div>
                    <div class="col-2">
                        <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                    </div>
                    <div class="col-2">
                        <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                    </div>
                    <div class="col-2">
                        <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                    </div>
                </div>   
                <div class="row p-4">
                    <div class="col-2">
                        <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                    </div>
                    <div class="col-2">
                        <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                    </div>
                    <div class="col-2">
                        <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                    </div>
                    <div class="col-2">
                        <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                    </div>
                    <div class="col-2">
                        <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                    </div>
                </div>       
            </div>
        </div>
        <div class="col-4">
            <div class="container-section" >
                <div class="section">
                    <div class="row p-4">
                        <div class="col-2">
                            <div class="skeleton skeleton-circle"></div>
                        </div>
                        <div class="col-10">
                            <div class="skeleton skeleton-rect" style="width: 90%;"></div><br>
                            <div class="skeleton skeleton-rect" style="width: 50%;"></div>
                        </div>
                    </div>
                    <div class="employee-contact p-2">
                        <div class="skeleton skeleton-rect" style="width: 90%;"></div><br>
                        <div class="skeleton skeleton-rect" style="width: 50%;"></div>
                    </div>
                </div>
                <br>
                <div class="section">
                    <div class="skeleton skeleton-rect" style="width: 50%;"></div><br>
                    <div class="skeleton skeleton-rect" style="width: 70%;"></div>    
                </div>
                <br>
                <div class="row section">
                    <div class="col">
                        <div class="skeleton skeleton-rect" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
(async()=>{
    const customerId = "{{ customer_id }}";
    await window.update_load_container('container-load',`medical_history/get_form_theeth/${customerId}/`);
})();
</script>