<br>
{% include 'partials_contracts/navbarContacts.html' %}

<form action="/contracts/edit_contract/{{ contract.id }}" id="formEditContract" method="post">
    {% csrf_token %}    
    <div class="container-section">
        <h2>Edita tu Contrato</h2>
        <input type="hidden" id="contract_id" name="contract_id" value="{{ contract.id }}">
        <hr>
        <div>
            <label>Nombre del contrato</label>
            <input type="text" name="name" class="case-title-input" placeholder="Nombre del contrato..." required value="{{ contract.title }}" />
        </div>
        <h3>Editor de contratos</h3>
        <div class="row">
            <div class="col">
                {% include 'partials_contracts/editor.html' %}
            </div>
        </div>
        <div>
            <button class="btn btn-add btn-success">Guardar Contrato</button>
        </div>
    </div>
</form>

<script>
    const id_contrct = document.getElementById('contract_id').value;
    create_form_for_send_the_server('formEditContract', `/contracts/edit_contract/${id_contrct}/`);
</script>