<br>
{% include 'partials_contracts/navbarContacts.html' %}
<div class="container">
    <form method="post" id="formDowloadContracts">
        <input type="hidden" id="contract_id" name="contract_id" value="{{ contract.id }}">
        {% csrf_token %}    
        {% for inputData in inputs %}
        <div>
            <label>{{inputData.label}}</label>
            <input type="{{inputData.type}}" name="{{inputData.name}}" placeholder="{{inputData.label}}" value="{{inputData.value}}"/>
        </div>
        <br>
        {% endfor %}
        <br>
        <button class="btn btn-normal" onclick="create_pdf()" type="button" t="create">Generar</button>
    </form>
</div>

<script>
    async function create_pdf(){
        const id_contrct = document.getElementById('contract_id').value;

            // Leer los datos del formulario
            const form = document.getElementById(`formDowloadContracts`);
            const formData = new FormData(form);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            // Enviar la info al servidor y obtener el PDF
            const result = await send_message_and_download_pdf(`/contracts/form_contract/${id_contrct}/`, data);

            // Mostrar resultado
            if (result.success) {
                show_notification('success', 'El contrato se ha generado correctamente.');
                //this.reset();
            } else {
                show_alert('alert', 'Error', 'No se pudo generar el contrato en el servidor.', (result.error || 'No se pudo generar el contrato en el servidor.'));
            }
    }

    async function send_message_and_download_pdf(url, data = {}, with_load = true) {
        const screenLoad = document.getElementById('loadingOverlay');
        if (with_load) {
            screenLoad.style.display = 'flex';
        }

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            // Leer la respuesta como BLOB (PDF)
            const blob = await response.blob();

            // Crear un link temporal para descargar
            const urlBlob = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = urlBlob;
            a.download = 'contrato.pdf';  // Nombre de descarga
            document.body.appendChild(a);
            a.click();

            // Limpieza
            a.remove();
            window.URL.revokeObjectURL(urlBlob);

            return { success: true };

        } catch (error) {
            console.error('Error al descargar PDF:', error);
            return { success: false, error: error.message };

        } finally {
            screenLoad.style.display = 'none';
        }
    }



</script>