<br>
{% include 'partials_contracts/navbarContacts.html' %}


<div class="container-section">
<h2>Crea un nuevo Contrato</h2>
<hr>
<div>
    <label>Nombre del contrato</label>
    <input type="text" name="name" class="case-title-input" placeholder="Nombre del contrato..." required />
</div>
<h3>Editor de contratos</h3>
<div class="row">
    <div class="col-10">
        {% include 'partials_contracts/editor.html' %}
    </div>
    <div class="col-2">
        <!-- Botones de variables -->
        <div class="variable-toolbar">
            <button onclick="insertVar('nombre_cliente ')">Nombre del Cliente</button>
            <button onclick="insertVar('direccion')">Dirección</button>
            <button onclick="insertVar('fecha')">Fecha</button>
            <button onclick="insertVar('telefono')">Teléfono</button>
            <button onclick="insertVar('email')">Email</button>
        </div>
    </div>
</div>

</div>