<div class="container-info-home">
    <div class="ad-grid-banner">
        <a href="https://pluspuntodeventa.com" class="ad-item ad-large" target="_blank">
            <img src="{% static 'img/ad3.webp' %}" alt="ad 1">
        </a>
        <a href="https://wa.me/524443042129" class="ad-item ad-small" target="_blank">
            <img src="{% static 'img/ad1.webp' %}" alt="ad 2">
        </a>
        <a href="https://pluspuntodeventa.com/app/store/store.php?token=7efa08d5" class="ad-item ad-tall" target="_blank">
            <img src="{% static 'img/ad2.webp' %}" alt="ad 3">
        </a>
    </div>



    <div class="help-section">
        <h3 t="home.tilte.do-you-help"></h3>
        <div class="help-options">
            <!-- option YouTube -->
            <div class="help-card">
            <img src="{% static 'img/icons/youtube.png' %}" alt="YouTube" class="help-icon">
            <p t="home.text.visit-our-channel-of-youtube"></p>
            <a href="https://www.youtube.com/@bestpointsoftwarepuntodeve2638" target="_blank" class="help-button" t="home.text.go-channel"></a>
            </div>

            <!-- option WhatsApp -->
            <div class="help-card">
            <img src="{% static 'img/icons/whatsapp.png' %}" alt="WhatsApp" class="help-icon">
            <p t="home.text.send-a-message-for-whatsapp"></p>
            <a href="https://wa.me/524443042129" target="_blank" class="help-button whatsapp">
                +52 444 304 2129
            </a>
            </div>
        </div>
    </div>
    <div class="info-footer">
        <label>Powered by <strong>{ED} SOFTWARE DEVELOPER</strong></label>
    </div>
</div>
<br><br><br>