<div id="alert-overlay" class="sub-menu-app-pop-overlay">
    <div id="alert-pop" class="sub-menu-app-pop-al sub-menu-app-pop-normal">
        <button class="sub-menu-app-pop-close" onclick="hideAlert()">&times;</button>
        <div class="sub-menu-app-pop-icon" id="alert-icon">⚠️</div>
        <div class="sub-menu-app-pop-title" id="alert-title">Título</div>
        <div class="sub-menu-app-pop-description" id="alert-description">Descripción corta</div>
        <div class="sub-menu-app-pop-readmore" onclick="toggleReadMore()">leer mas</div>
        <div class="sub-menu-app-pop-readmore-content" id="alert-readmore">
            container hidden
        </div>
        <div class="sub-menu-app-pop-buttons" id="alert-buttons" btnTextSuccess="confirmar" btnTextCancel="cancelar" btnTextReadMost="leer mas">
            <!-- Botones -->
        </div>
    </div>
</div>


<!--notification for time-->
<div id="notifications-container" class="notification-alert-container"></div>