<!-- México y América Central -->
<option value="America/Tijuana">(GMT-8) Tijuana, Baja California - México</option>
<option value="America/Mazatlan">(GMT-7) Mazatlán, Sinaloa - México</option>
<option value="America/Chihuahua">(GMT-7) Chihuahua - México</option>
<option value="America/Mexico_City">(GMT-6) Ciudad de México - México</option>
<option value="America/Merida">(GMT-6) Mérida, Yucatán - México</option>
<option value="America/Cancun">(GMT-5) Cancún, Quintana Roo - México</option>
<option value="America/Guatemala">(GMT-6) Guatemala</option>
<option value="America/El_Salvador">(GMT-6) El Salvador</option>
<option value="America/Tegucigalpa">(GMT-6) Honduras</option>
<option value="America/Managua">(GMT-6) Nicaragua</option>
<option value="America/Costa_Rica">(GMT-6) Costa Rica</option>
<option value="America/Panama">(GMT-5) Panamá</option>

<!-- Región Andina -->
<option value="America/Bogota">(GMT-5) Bogotá - Colombia</option>
<option value="America/Lima">(GMT-5) Lima - Perú</option>
<option value="America/Guayaquil">(GMT-5) Guayaquil - Ecuador</option>
<option value="America/Caracas">(GMT-4) Caracas - Venezuela</option>

<!-- Cono Sur -->
<option value="America/La_Paz">(GMT-4) La Paz - Bolivia</option>
<option value="America/Asuncion">(GMT-4) Asunción - Paraguay</option>
<option value="America/Santiago">(GMT-3) Santiago - Chile</option>
<option value="America/Argentina/Buenos_Aires">(GMT-3) Buenos Aires - Argentina</option>
<option value="America/Montevideo">(GMT-3) Montevideo - Uruguay</option>
<option value="America/Sao_Paulo">(GMT-3) São Paulo - Brasil</option>
<option value="America/Miquelon">(GMT-3) Saint Pierre y Miquelón</option>

<!-- Caribe -->
<option value="America/Havana">(GMT-5) La Habana - Cuba</option>
<option value="America/Santo_Domingo">(GMT-4) Santo Domingo - República Dominicana</option>
<option value="America/Puerto_Rico">(GMT-4) Puerto Rico</option>
<option value="America/Port_of_Spain">(GMT-4) Trinidad y Tobago</option>
<option value="America/Jamaica">(GMT-5) Jamaica</option>

<!-- Otros territorios -->
<option value="America/Belize">(GMT-6) Belice</option>
<option value="America/Guyana">(GMT-4) Guyana</option>
<option value="America/Paramaribo">(GMT-3) Surinam</option>