<!-- Latinoamérica -->
<option value="ARS" t="setting.currency.ars"></option> <!-- Peso argentino -->
<option value="BOB" t="setting.currency.bob"></option> <!-- Boliviano -->
<option value="CLP" t="setting.currency.clp"></option> <!-- Peso chileno -->
<option value="COP" t="setting.currency.cop"></option> <!-- Peso colombiano -->
<option value="CRC" t="setting.currency.crc"></option> <!-- Colón costarricense -->
<option value="CUP" t="setting.currency.cup"></option> <!-- Peso cubano -->
<option value="DOP" t="setting.currency.dop"></option> <!-- Peso dominicano -->
<option value="GTQ" t="setting.currency.gtq"></option> <!-- Quetzal guatemalteco -->
<option value="HNL" t="setting.currency.hnl"></option> <!-- Lempira hondureño -->
<option value="MXN" t="setting.currency.mxn"></option> <!-- Peso mexicano -->
<option value="NIO" t="setting.currency.nio"></option> <!-- Córdoba nicaragüense -->
<option value="PAB" t="setting.currency.pab"></option> <!-- Balboa panameño -->
<option value="PYG" t="setting.currency.pyg"></option> <!-- Guaraní paraguayo -->
<option value="PEN" t="setting.currency.pen"></option> <!-- Sol peruano -->
<option value="UYU" t="setting.currency.uyu"></option> <!-- Peso uruguayo -->
<option value="VES" t="setting.currency.ves"></option> <!-- Bolívar venezolano -->

<!-- Otras monedas -->
<option value="USD" t="setting.currency.usd"></option> <!-- Dólar estadounidense -->
<option value="PLN" t="setting.currency.pln"></option> <!-- Zloty polaco -->
<option value="EUR" t="setting.currency.eur"></option> <!-- Euro -->