<nav class="sub-menu-app-nav">
    <div class="sub-menu-app-nav-container">
        <div class="sub-menu-app-nav-item">
            <a class="sub-menu-app-nav-link sub-menu-app-link-base" onclick="nextWeb('contracts/contracts')"><button class="btn button btn-navbar" t="title-home">Mis Contratos</button></a>
        </div>
        <div class="sub-menu-app-nav-item">
            <a class="sub-menu-app-nav-link sub-menu-app-link-base" onclick="nextWeb('contracts/add_contract')"><button class="btn button btn-add" t="title-new_contract">Nuevo Contrato +</button></a>
        </div>
    </div>
</nav>