<!---here we will to see if the user would like show a odontogram or need create a new---->
{% if odontogram_id %}
    <div id="container-load">
        <div class="row">
            <div class="col-4">
                <div class="row p-4">
                    <div class="col-2">
                        <div class="skeleton skeleton-circle"></div>
                    </div>
                    <div class="col-10">
                        <div class="skeleton skeleton-rect" style="width: 90%;"></div><br>
                        <div class="skeleton skeleton-rect" style="width: 50%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="container-section" >
                    <div class="row p-4">
                        <div class="col-2">
                            <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                        </div>
                        <div class="col-2">
                            <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                        </div>
                        <div class="col-2">
                            <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                        </div>
                        <div class="col-2">
                            <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                        </div>
                        <div class="col-2">
                            <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                        </div>
                    </div>   
                    <div class="row p-4">
                        <div class="col-2">
                            <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                        </div>
                        <div class="col-2">
                            <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                        </div>
                        <div class="col-2">
                            <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                        </div>
                        <div class="col-2">
                            <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                        </div>
                        <div class="col-2">
                            <div class="skeleton skeleton-rect" style="width: 100%;"></div><br>
                        </div>
                    </div>       
                </div>
            </div>
            <div class="col-4">
                <div class="container-section" >
                    <div class="section">
                        <div class="row p-4">
                            <div class="col-2">
                                <div class="skeleton skeleton-circle"></div>
                            </div>
                            <div class="col-10">
                                <div class="skeleton skeleton-rect" style="width: 90%;"></div><br>
                                <div class="skeleton skeleton-rect" style="width: 50%;"></div>
                            </div>
                        </div>
                        <div class="employee-contact p-2">
                            <div class="skeleton skeleton-rect" style="width: 90%;"></div><br>
                            <div class="skeleton skeleton-rect" style="width: 50%;"></div>
                        </div>
                    </div>
                    <br>
                    <div class="section">
                        <div class="skeleton skeleton-rect" style="width: 50%;"></div><br>
                        <div class="skeleton skeleton-rect" style="width: 70%;"></div>    
                    </div>
                    <br>
                    <div class="row section">
                        <div class="col">
                            <div class="skeleton skeleton-rect" style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script>
        (async()=>{
            const odontogram_id = "{{ odontogram_id }}";
            await window.update_load_container('container-load',`odontograma/get_odontogram/${odontogram_id}/`);
        })();
    </script>
{% else %}
    <!---when the odontogram not exist, we will to create the form for that the user can add a new-->
    <form id="form_create_odontogram">
        <br>
        <div class="container">
            <label t="odontograma.label.create-odontogram" icon="fi fi-sr-tooth"></label>
            <hr>
            <plus-title  label="odontograma.label.key-odontogram" placeholder="odontograma.placeholder.key-odontogram" name="history_name"></plus-title>
            <plus-select label="odontograma.label.select-patient" link="customers/customers_search/" method="GET" name="customer_id">
            </plus-select>
            <br>
            <plus-switch text="odontograma.label.this-patient-be-a-kit"  name="is_kid"></plus-switch>
            <br><br><br>
            <button class="btn btn-add btn-success" t="btn.make" type="button" onclick="send_form_odontogram()"></button>
        </div>
    </form>


    <script>
        (()=>{
            function create_load_form(odontogram_id){
                console.log(odontogram_id);
                window.nextWeb(`odontograma/view_odontogram/${odontogram_id}/`)
            }

            async function send_form_odontogram(){
                const backend=await window.send_form_to_the_server('form_create_odontogram', 'odontograma/add_odontogram/');
                if(!backend.success){
                    window.show_alert('alert', 'Error', backend.message || '', backend.error || '');
                }

                //now update the UI for that can be show the new UI 
                create_load_form(backend.answer);
            }


            window.send_form_odontogram=send_form_odontogram;
        })();
    </script>
{% endif %}
