<input type="hidden" value="{{ odontogram_id }}" id="odontogram_id">
{% include 'partials_odontograma/navbar.html' %}
<plus-tabs>
  <plus-tab text="odontograma.tab.odontogram">
    {% include 'partials_odontograma/odontograma.html' %}
  </plus-tab>
  <plus-tab text="odontograma.tab.periodontogram">
    {% include 'partials_odontograma/periodontogram.html' %}
  </plus-tab>
  <plus-tab text="odontograma.tab.files">
    
  </plus-tab>
  <plus-tab text="odontograma.tab.history">
  </plus-tab>
</plus-tabs>



