<style>

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  background-color: white;
}

</style>

{% include 'partials_rolesAndPermissions/navbarHome.html' %}

<div class="container-section">

<button onclick="open_pop_restart()"><i class="fi fi-rs-rotate-left"></i></button>

<div class="row">
    <div class="col-10">
        <div class="search-container">
        <i class="fi fi-rs-search search-icon"></i>
        <input type="text" class="search-input" t-placeholder="message.search" id="seacrh">
        </div>
    </div>
    <div class="col-2">
        <br>
        <plus-actions>
            <plus-action text="new-event" onclick="open_type_pop" combo="Shift+n" ></plus-action>
            <plus-action text="create-a-new-type-event" onclick="open_pop_new_type_event" combo="Shift+e"></plus-action>
            <plus-action text="title-show-all-the-type-event" onclick="open_pop_show_all_type_event"></plus-action>
            <plus-action text="title.show-all-my-appoints" onclick="open_pop_show_all_my_appoints"></plus-action>
            <plus-action text="title-sync-google-btn" onclick="sync_google"></plus-action>
        </plus-actions>
    </div>
</div>


<table class="section">
    <thead>
        <tr>
            <th style="width: 30%;">Nombre del Rol</th>
            <th style="width: 80%;">Descripción</th>
            <th style="width: 10%;"></th>
        </tr>
    </thead>
    <tbody id="table-role">
        <tr>
            <td>Administrador</td>
            <td>Puede gestionar usuarios, roles y todos los permisos del sistema.</td>
            <td>
                <button onclick="editRole('Administrador')" class="btn btn-transparent"><i class="fi fi-sr-pencil"></i></button>
                <button onclick="deleteRole('Administrador')" class="btn btn-transparent"><i class="fi fi-sr-trash"></i></button>
            </td>
        </tr>
        <tr>
            <td>Doctor</td>
            <td>Gestiona pacientes, historiales médicos y citas médicas.</td>
            <td>
                <button onclick="editRole('Doctor')">Editar</button>
                <button onclick="deleteRole('Doctor')">Eliminar</button>
            </td>
        </tr>
        <tr>
            <td>Recepcionista</td>
            <td>Gestiona citas y la información básica de los pacientes.</td>
            <td>
                <button onclick="editRole('Recepcionista')">Editar</button>
                <button onclick="deleteRole('Recepcionista')">Eliminar</button>
            </td>
        </tr>
        <tr>
            <td>Contador</td>
            <td>Acceso a facturación, pagos y reportes financieros.</td>
            <td>
                <button onclick="editRole('Contador')">Editar</button>
                <button onclick="deleteRole('Contador')">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
</div>

<script>
    (()=>{
        const divHtml=`
            <tr>
                <td> { name } </td>
                <td> { description } </td>
                <td>
                    <button onclick="edit_role(' { id } ')" class="btn btn-transparent"><i class="fi fi-sr-pencil"></i></button>
                    <button onclick="delete_role(' { id } ')" class="btn btn-transparent"><i class="fi fi-sr-trash"></i></button>
                </td>
            </tr>
        `
        update_container_with_seeker('seacrh', 'table-role', divHtml, 'rolesAndPermissions/get_information_of_the_role/1/', 'GET');
    })();


    async function edit_role(rol_id){
        rol_id = String(rol_id).trim();
        await nextWeb(`rolesAndPermissions/edit_rol/${rol_id}/`);
    }

    async function delete_role(role_id){
        if(await show_message_question('rolesAndPermissions.message.question.title.do-you-like-delete-this-role', 'rolesAndPermissions.message.question.description.do-you-like-delete-this-role')){
            role_id = String(role_id).trim();
            const backend=await send_message_to_the_server('rolesAndPermissions/change_status/', {role_id:role_id, status: false}, true);
            if(backend.success){
                const divHtml=`
                    <tr>
                        <td> { name } </td>
                        <td> { description } </td>
                        <td>
                            <button onclick="edit_role(' { id } ')" class="btn btn-transparent"><i class="fi fi-sr-pencil"></i></button>
                            <button onclick="delete_role(' { id } ')" class="btn btn-transparent"><i class="fi fi-sr-trash"></i></button>
                        </td>
                    </tr>
                `
                update_container_from_the_server('seacrh', 'table-role', divHtml, 'rolesAndPermissions/get_information_of_the_role/1/', 'GET'); //update the table
                show_alert('success', 'rolesAndPermissions.message.success.title.the-rol-was-deactivated','rolesAndPermissions.message.success.the-rol-was-deactivated', backend.error || '');
            }else{
                show_alert('error', 'Error', backend.message || 'rolesAndPermissions.message.error.unexpected-error', backend.error || '');
            }
        }
    }
</script>



<message-pop title="rolesAndPermissions.pop.title-restart-role" name="restart-role">
    <div class="search-container">
        <i class="fi fi-rs-search search-icon"></i>
        <input type="text" class="search-input" t-placeholder="message.search" id="seacrh-role-delete">
    </div>

    <div class="container-pop">
        <table class="section">
            <thead>
                <tr>
                    <th style="width: 30%;">Nombre del Rol</th>
                    <th style="width: 80%;">Descripción</th>
                    <th style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody id="table-role-delete">
            </tbody>
        </table>
    </div>
</message-pop>
<script>
    function open_pop_restart(){
        window.show_pop('restart-role')
        const divHtml=`
            <tr>
                <td> { name } </td>
                <td> { description } </td>
                <td>
                    <button onclick="restart_role(' { id } ')" class="btn btn-transparent"><i class="fi fi-sr-trash-restore-alt"></i></button>
                </td>
            </tr>
        `
        update_container_with_seeker('seacrh-role-delete', 'table-role-delete', divHtml, 'rolesAndPermissions/get_information_of_the_role/0/', 'GET');
    }


    async function restart_role(role_id){
        if(await show_message_question('rolesAndPermissions.message.question.restart.title', 'rolesAndPermissions.message.question.restart.description')){
            role_id = String(role_id).trim();

            const backend=await send_message_to_the_server('rolesAndPermissions/change_status/', {role_id:role_id, status: true}, true);
            if(backend.success){
                //update the table of role delete
                const divHtml=`
                    <tr>
                        <td> { name } </td>
                        <td> { description } </td>
                        <td>
                            <button onclick="restart_role(' { id } ')" class="btn btn-transparent"><i class="fi fi-sr-trash-restore-alt"></i></button>
                        </td>
                    </tr>
                `
                update_container_from_the_server('seacrh-role-delete', 'table-role-delete', divHtml, 'rolesAndPermissions/get_information_of_the_role/0/', 'GET'); //update the table
                
                
                //update the container of the table of roles activates
                const divHtml2=`
                    <tr>
                        <td> { name } </td>
                        <td> { description } </td>
                        <td>
                            <button onclick="edit_role(' { id } ')" class="btn btn-transparent"><i class="fi fi-sr-pencil"></i></button>
                            <button onclick="delete_role(' { id } ')" class="btn btn-transparent"><i class="fi fi-sr-trash"></i></button>
                        </td>
                    </tr>
                `
                update_container_from_the_server('seacrh', 'table-role', divHtml2, 'rolesAndPermissions/get_information_of_the_role/1/', 'GET'); //update the table



                show_alert('success', 'rolesAndPermissions.message.success.restart.title','rolesAndPermissions.message.success.restart.description', backend.error || '');
            }else{
                show_alert('error', 'Error', backend.message || 'rolesAndPermissions.message.error.unexpected-error', backend.error || '');
            }
        }
    }
</script>