
<div class="p-4">
    <div class="section">
        <input-field label="Nombre del rol" placeholder="Ingrese el nombre del rol"></input-field>
    </div>
</div>

<plus-modules>
  <plus-module name="Roles y permisos" desc="Administra usuarios y asigna permisos" icon="fi-rs-building">
    <plus-switch name="permiso"></plus-switch>
  </plus-module>

  <plus-module name="Configuraciones" desc="Ajusta el sistema" icon="fi-rs-building"></i>">
    <plus-switch name="permiso"></plus-switch>
  </plus-module>
</plus-modules>




<button class="btn btn-add btn-success">Guardar</button>

