<div class="tab-content" id="form2">
    <div class="form-grid">
        <div>
            <label>¿Este cliente es una empresa?</label>
            <label class="switch">
                <input type="checkbox" name="this_customer_is_a_company" id="isCompanySwitch" />
                <span class="slider round"></span>
            </label>
        </div>
        <div></div>
        <div>
            <label>Nombre de la Empresa</label>
            <input type="text" name="company_name" placeholder="Nombre de la empresa" />
        </div>
        <div>
            <label>Sitio Web</label>
            <input type="url" name="website" placeholder="Sitio web" />
        </div>
        <div>
            <label>RFC</label>
            <input type="text" name="rfc" placeholder="RFC" />
        </div>

        <div>
            <label>CURP</label>
            <input type="text" name="curp" placeholder="CURP" />
        </div>


    </div>

</div>