<div class="tab-content active" id="form1">
  <div class="form-grid">
    <div>
      <label>Nombre del Cliente</label>
      <input type="text" name="name" class="case-title-input" placeholder="Nombre del cliente" required />
    </div>
    <div></div>
    <div>
      <label>Email</label>
      <input type="email" name="email" placeholder="Correo electrónico" />
    </div>
    <div>
      <label>Cliente Activo</label>
      <label class="switch">
          <input type="checkbox" name="this_customer_is_a_company" id="isCompanySwitch" />
          <span class="slider round"></span>
      </label>
      <input type="hidden" id="statusValue" name="status" value="true" />
    </div>
    <div>
      <label>Teléfono</label>
      <input type="text" name="phone" placeholder="Teléfono" />
    </div>

    <div>
      <label>Celular</label>
      <input type="text" name="cellphone" placeholder="Celular" />
    </div>

    <div>
      <label>País</label>
      <input type="text" name="country" placeholder="País" />
    </div>
  </div>
</div>