<div class="row section">
  <div class="col-2">
    <image-uploader max="1"></image-uploader>
  </div>

  <div class="col-10">
    <plus-title t="form1-label-name" type="text" name="name" t-placeholder="form1-placeholder-name" required
      value="{{customer.name}}" maxlength="300">
      Name Customer
    </plus-title>

    <plus-priority name="priority" id="priority" value="2" allow-none></plus-priority>
  </div>
</div>

<div class="row section">
  <div class="col">
    <input-field type="email" label="form1-label-email" name="email" placeholder="form1-placeholder-email"></input-field>
  </div>
</div>

<div class="row section">
  <div class="col">
    <input-field type="text" label="form1-label-phone" name="phone" placeholder="444 444 444" maxlength="15"
      value="{{customer.phone}}"></input-field>
  </div>
  <div class="col">
    <input-field type="text" label="form1-label-cellphone" name="cellphone" placeholder="+52 444 444 444"
      value="{{customer.cellphone}}" maxlength="15"></input-field>
  </div>
</div>


<show-more text="add-info-address-customer" onclick="show_pop('pop-data-address')"></show-more>


<show-more text="advanced-information" onclick="show_pop('pop-advanced-information')"></show-more>










<message-pop title="title-pop-info-address" name="pop-data-address">
  <div class="container-pop">
    <div class="row section">
      <div class="col">
        <input-field type="text" label="label-address" placeholder="placeholder-address" name="address"
          value="{{customer.address}}"></input-field>
      </div>
    </div>
    <div class="row section">
      <div class="col">
        <input-field type="text" label="label-num_ext" placeholder="placeholder-num_ext" name="num_ext"
          value="{{customer.num_ext}}" maxlength="5"></input-field>
      </div>
      <div class="col">
        <input-field type="text" label="label-num_int" placeholder="placeholder-num_int" name="num_int"
          value="{{customer.num_int}}" maxlength="5"></input-field>
      </div>
    </div>

    <div class="row section">
      <div class="col">
        <input-field type="text" label="label-city" placeholder="placeholder-city" name="city" value="{{customer.name}}"
          maxlength="100"></input-field>
      </div>
      <div class="col">
        <input-field type="text" label="label-estate" placeholder="placeholder-estate" name="states"
          value="{{customer.name}}" maxlength="100"></input-field>
      </div>
    </div>


    <div class="row section">
      <div class="col">
        <plus-country name="country" requerid></plus-country>
      </div>
      <div class="col">
        <input-field type="text" label="label-postal_code" placeholder="placeholder-postal_code" name="postal_code"
          value="{{customer.postal_code}}" maxlength="20"></input-field>
      </div>
    </div>

    <div class="row section">
      <label for="" t="label-reference"></label>
      <textarea name="reference">{{customer.reference}}</textarea>
    </div>
    <br>
  </div>
  <button class="btn btn-edit btn-success" t="message.success" onclick="hide_pop('pop-data-address')"
    type="button"></button>
</message-pop>



<message-pop title="advanced-information" name="pop-advanced-information">
  <div class="container-pop">
    <plus-switch text="form1-label-status" checked="True"></plus-switch>

    <div class="row section">
      <div class="col">
        <plus-select label="select-type-customer" name="customer_type">

        </plus-select>
      </div>
      <div class="col">
        <plus-select label="select-source-customer" name="source">

        </plus-select>
      </div>
    </div>

    <div class="row section">
      <div class="col">
        <input-field type="number" label="points-user-label" placeholder="points-user-placeholder" name="points"
          value="{{customer.points}}"></input-field>
      </div>
      <div class="col">
        <input-field type="number" label="credit-user-label" placeholder="credit-user-placeholder" name="credit"
          value="{{customer.credit}}"></input-field>
      </div>
    </div>

    <div class="row section">
      <div class="col">
        <info-label label="tags" message="email-message-show"></info-label>
        <plus-tags id="tags" name="tags" label="emails-guests" message="email-message-show"
          placeholder="input.add-most-email"></plus-tags>
      </div>
    </div>

    <div class="row section">
      <label for="" t="note"></label>
      <textarea t-placeholder="note-placeholder"></textarea>
    </div>

  </div>

  <button class="btn btn-edit btn-success" t="message.success" onclick="hide_pop('pop-advanced-information')"
    type="button"></button>
</message-pop>