<plus-switch text="form2-label-is_company"></plus-switch>

<div class="row section">
    <div class="col">
        <input-field type="text" label="form2-label-company_name" t-placeholder="form2-placeholder-company_name" name="company_name" value="{{customer.company_name}}" maxlength="255"></input-field>
    </div>
</div>
<div class="row section">
    <div class="col">
        <input-field type="text" label="form2-label-contact" t-placeholder="form2-contact-placeholder" name="contact_name" value="{{customer.contact_name}}" maxlength="150"></input-field>
    </div>
</div>

<div class="row section">
    <div class="col">
        <input-field type="text" label="form2-label-contact-email" t-placeholder="form2-placeholder-contact-email" name="contact_email" value="{{customer.contact_email}}"></input-field>
    </div>
</div>

<div class="row section">
    <div class="col">
        <input-field type="text" label="form2-label-contact-phone" t-placeholder="form2-placeholder-contact-phone" name="contact_phone" value="{{customer.contact_phone}}" maxlength="20"></input-field>
    </div>
    <div class="col">
        <input-field type="text" label="form2-label-contact-cellphone" t-placeholder="form2-placeholder-contact-phone" name="contact_cellphone" value="{{customer.contact_cellphone}}" maxlength="20"></input-field>
    </div>
</div>

<div class="row section">
    <div class="col">
        <input-field type="url" label="form2-label-website" t-placeholder="form2-placeholder-website" name="website" value="{{customer.website}}"></input-field>
    </div>
</div>
