<div class="row">
    <div class="col-8">
        <input type="text" t-placeholder="input-seacrh-customer" id="search-customer">
    </div>
    <div class="col-2">
        <label for=""></label>
        <button class="btn btn-edit" onclick="open_my_pop('pop-filter-customer')"><i class="fi fi-rr-settings-sliders"></i></button>
    </div>
    <div class="col-2">
        <label for=""></label>
        <plus-actions>
            <plus-action text="new-event" onclick="open_type_pop" combo="Shift+n"></plus-action>
            <plus-action text="create-a-new-type-event" onclick="open_pop_new_type_event" combo="Shift+e"></plus-action>
            <plus-action text="title-show-all-the-type-event" onclick="open_pop_show_all_type_event"></plus-action>
            <plus-action text="title.show-all-my-appoints" onclick="open_pop_show_all_my_appoints"></plus-action>
        </plus-actions>
    </div>
</div>


<message-pop title="title-filter" name="pop-filter-customer">
    <div class="row">
        <div class="col">
            <plus-select label="select-type-customer">
            </plus-select>
        </div>
        <div class="col">
            <plus-select label="select-priority">
                <option value="" t="select-priority-0"></option>
                <option value="" t="select-priority-1"></option>
                <option value="" t="select-priority-2"></option>
                <option value="" t="select-priority-3"></option>
                <option value="" t="select-priority-all"></option>
            </plus-select>
        </div>
        <div class="col">
            <plus-select label="select-type-customer">
                <option value="" t="option-status-activated">Activate</option>
                <option value="" t="option-status-deleted">Delete</option>
                <option value="" t="option-status-all">All</option>
            </plus-select>
        </div>
    </div>

    <button t="message.success" class="btn btn-edit btn-success" onclick="filter_the_customer()">Search</button>
</message-pop>


<script>
    async function filter_the_customer(){
        hide_pop('pop-filter-customer')
    }
</script>
