<div id="ms-pop-new-customer" class="sub-menu-app-pop-overlay">
    <div class="sub-menu-app-pop" id="pop2">
        <button class="sub-menu-app-pop-close" onclick="hidePop('ms-pop-new-customer')">&times;</button>
        <h3>Mensaje 2</h3>
        <div>
            <label>Numero de Caso</label>
            <input type="text" placeholder="Numero de Caso" />
        </div>
        <div></div>
        <div>
            <label>Cliente</label>
            <input type="text" placeholder="Cliente" />
        </div>
    </div>
</div>