<nav class="sub-menu-app-nav">
    <div class="sub-menu-app-nav-container">
        <div class="sub-menu-app-nav-item">
            <a class="sub-menu-app-nav-link sub-menu-app-link-base">Expedientes</a>
            <div class="sub-menu-app-submenu">
                <a class="sub-menu-app-link-base">Nuevo Expediente</a>
                <a class="sub-menu-app-link-base">Mis Expedientes</a>
            </div>
        </div>

        <div class="sub-menu-app-nav-item">
            <a class="sub-menu-app-nav-link sub-menu-app-link-base">Procesos</a>
            <div class="sub-menu-app-submenu">
                <a class="sub-menu-app-link-base">Crear un proceso</a>
            </div>
        </div>

        <div class="sub-menu-app-nav-item">
            <a class="sub-menu-app-nav-link sub-menu-app-link-base">Guardar</a>
        </div>
    </div>
</nav>