{% load static %}
<br>

{% include 'partialsCustomers/navbarHome.html' %}
<form action="/customers/add_customer" method="post" id="form-create-a-new-customer">
    {% csrf_token %}
    <div class="container">
        <div class="tabs">
            <div class="tab-buttons">
                <button class="active" onclick="openTab(event, 'form1')" data-i18n="partes" type="button">Informacion General</button>
                <button onclick="openTab(event, 'form2')" data-i18n="files" type="button">Informacion empresa</button>
            </div>

            {% include 'partialsCustomers/customerForm1.html' %}
            {% include 'partialsCustomers/customerForm2.html' %}
            <button class="btn btn-add btn-success" style="width: 100%;">Crear</button>
        </div>
    </div>
</form>



<script>
    document.getElementById('form-create-a-new-customer').addEventListener('submit', async function(e) {
        e.preventDefault(); //this is for that the form not load the web

        //send the information to the server and get his answer
        const result = await send_form_to_the_server('form-create-a-new-customer', '/customers/add_customer');
        

        //we will see if we can add the new customer
        if (result.success) {
            //show_alert('success', 'Cliente guardado', 'El cliente fue guardado con éxito')
            show_notification('success', 'El cliente fue guardado con éxito');
            this.reset();
        } else {
            show_alert('alert', 'Error', 'No se pudo agregar al cliente.', (result.error || 'No se pudo guardar'))
        }
    });
</script>