<br>
{% include 'partialsCustomers/navbarHome.html' %}
<br>
<div class="container-section">
    <div class="row">
        <div class="col-12">
            <input type="text" class="search-input-in-form" placeholder="Buscar clientes por email o nombre...">
        </div>
    </div>



    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Celular</th>
                <th>Nombre Empresa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juan Pérez</td>
                <td>juan@example.com</td>
                <td>555-1234</td>
                <td>555-5678</td>
                <td>Soluciones XYZ</td>
            </tr>
            <tr>
                <td>Ana López</td>
                <td>ana@example.com</td>
                <td>555-9876</td>
                <td>555-6543</td>
                <td>Comercial ABC</td>
            </tr>
        </tbody>
    </table>



</div>