<br>
{% include 'partialsCustomers/navbarHome.html' %}
<br>

<plus-modules>

  <plus-module name="Ayuda">

    <plus-help title="¿Cómo cobrar con recibo?" data='ayuda-recibo' t="label-search-home"></plus-help>


  </plus-module>

  <plus-module name="Alertas" icon="<i class='fi fi-sr-shopping-cart'></i>">

    
    <input-field label="label-search-home" type="email" name="search-1" placeholder="placeholder-search-home" required
      message-label="placeholder-search-home"></input-field>

    <br>
    <confirm-button title="Delete Product" message="Are you sure you want to delete this product?"
      onclick="deleteProduct()">
      Delete
    </confirm-button>

  </plus-module>

  <plus-module name="Clientes" icon="👨‍💼">
    <message-pop title="label-search-home" name="pop-data-facture">
      <p t="placeholder-search-home"></p>
    </message-pop>
    <button onclick="show_pop('pop-data-facture')">open pop</button>
  </plus-module>

  <plus-module name="label-search-home">
    <info-label label="label-search-home" message="placeholder-search-home">
    </info-label>
  </plus-module>

  <plus-module name="Inputs" icon="<i class='fi fi-sr-shopping-cart'></i>">
    <plus-select-date name-start="fecha_inicio" name-end="fecha_fin" label="Seleccionar fechas"></plus-select-date>

    <plus-select-date name-start="fecha_inicio" name-end="fecha_fin" label="Filtrar por fecha" filter></plus-select-date>

    <div class="row">
      <div class="col-5">
        <plus-switch text="label-search-home" name="notificaciones" checked="true"
          message="placeholder-search-home"></plus-switch>
      </div>
    </div>
    <plus-switch text="label-search-home" name="notificaciones" checked="false"></plus-switch>

    <plus-select label="label-search-home" message="placeholder-search-home" name="tipo_documento" requerid>
      <option value="contrato" t="placeholder-search-home">Contrato</option>
      <option value="juicio" t="placeholder-search-home">Juicio</option>
      <option value="testamento" t="placeholder-search-home">Testamento</option>
    </plus-select>


  </plus-module>


</plus-modules>




<key-bind combo="Shift+V" action="abrir_menu"></key-bind>
<key-bind combo="Shift+p" action="abrir_menu"></key-bind>

<div class="container-section">





  <br><br>

  <div class="row">
    <div class="col-10">
      <label for="" t="label-search-home">Buscar un Cliente</label>
      <input type="text" class="search-input-in-form" id="search-customers"
        placeholder="Buscar clientes por email o nombre..." t-placeholder="placeholder-search-home">
    </div>
    <div class="col">
      <label for="" t="label-status-contract">Estado del Cliente</label>
      <select id="select-status">
        <option value="true">Activos</option>
        <option value="false">Desactivados</option>
        <option value="">Todos</option>
      </select>
    </div>
  </div>

  <table id="table-customer">
    <thead>
      <tr>
        <th t="table-name">Name</th>
        <th t="table-email">E-mail</th>
        <th t="table-phone">Cellphone</th>
        <th t="table-cellphone">Phone</th>
        <th t="table-company-name">Company Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="container-table">
      {% for customer in customers %}
      <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.cellphone }}</td>
        <td>{{ customer.company_name }}</td>
        <th><button class="btn btn-normal" type="button"
            onclick="nextWeb('customers/edit_customer/{{ customer.id }}/')"><i class="fi fi-sr-pencil"></i></button>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>



</div>

<script>
  (() => {
    const divHtml = `
        <td>{ name }</td>
        <td>{ email }</td>
        <td>{ phone }</td>
        <td>{ cellphone }</td>
        <td>{ company_name }</td>
        <th><button class="btn btn-normal" type="button" onclick="nextWeb('customers/edit_customer/{ id }/')"><i class="fi fi-sr-pencil"></i></button></th>
    `;

    update_container_with_seeker(
      ['search-customers', 'select-status'], // id of the input of the seeker
      'container-table',  // id of the container to update
      divHtml,            // template with placeholders
      'customers/search_customers/' // url for the search
    );


    //her we will create the information of the help
    //her is for save the information of the data
    PLUS_HELP_DATA = {};

    //FORM 1
    /*
    const help = new StepHelp('ayuda-recibo');
    help.title = translate_text('label-search-home');
    help.message = 'Haz clic en Agregar productos y selecciona los productos del recibo.';
    help.image = '';
    help.video = 'dQw4w9WgXcQ';
    */

  
    //FORM 2
    const help = new CreateHelp('ayuda-recibo'); //her we will to create a help

    //her we will add a step of the help
    help.add_step({
      title: 'titulo',
      message: "Busca al cliente en la barra superior e ingresa a su perfil."
    });

    help.add_step({
      title: translate_text('label-search-home'),
      message: "Busca al cliente en la barra superior e ingresa a su perfil."
    });
    
    help.title = 'Titulo amigos';
    help.message = 'Haz clic en Agregar productos y selecciona los productos del recibo.';
    help.image = '';
    help.video = 'dQw4w9WgXcQ';
    help.save_help_data();

  })();
</script>
