<style>
.customers-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.container-padding {
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
}
</style>
<br>
{% load static %}


{% include 'partialsCustomers/navbarHome.html' %}
<plus-switch-column id="customers-switch">
  <div slot="col1">
    {% include 'partialsCustomers/tableCustomers.html' %}
  </div>

  <div slot="col2">
    <br><br>
    <!--
    <button class="close-col2-btn" onclick="toggle_switch_column('customers-switch',false)">×</button>
    --->
    {% include 'partialsCustomers/infoCustomer.html' %}
  </div>
</plus-switch-column>





