{% load static %}
<br>

{% include 'partialsCustomers/navbarHome.html' %}

{% if customer.id %}
<form action="/customers/edit_customer/{{ customer.id }}" method="post" id="form-edit-customer">
<input type="hidden" id="id-customer" value="{{ customer.id }}">
{% else %}
<form action="/customers/add_customer" method="post" id="form-create-a-new-customer">
{% endif %}
    {% csrf_token %}
    <div class="container-section">
        <plus-tabs>
            <plus-tab text="info-general">
                {% include 'partialsCustomers/customerForm1.html' %}
            </plus-tab>
            <plus-tab text="info-empresa">
                {% include 'partialsCustomers/customerForm2.html' %}
            </plus-tab>
            <button class="btn btn-add btn-success" style="width: 100%;" t="save">Guardar</button>
        </plus-tabs>
    </div>
</form>



<script>
(() => {
    create_form_for_send_the_server('form-create-a-new-customer', `/customers/add_customer`);

    const id_customer = document.getElementById('id-customer').value;
    create_form_for_send_the_server('form-edit-customer', `/customers/edit_customer/${id_customer}/`);
})();
</script>