{% load static %}
<br>

{% include 'partialsCustomers/navbarHome.html' %}

{% if customer.id %}
<form action="/customers/edit_customer/{{ customer.id }}" method="post" id="form-edit-customer">
<input type="hidden" id="id-customer" value="{{ customer.id }}">
{% else %}
<form action="/customers/add_customer" method="post" id="form-create-a-new-customer">
{% endif %}
    {% csrf_token %}
    <div class="container">
        <div class="tabs">
            <div class="tab-buttons">
                <button class="active" onclick="openTab(event, 'form1')" t="info-general" type="button">Informacion General</button>
                <button onclick="openTab(event, 'form2')" t="info-empresa" type="button">Informacion empresa</button>
            </div>

            {% include 'partialsCustomers/customerForm1.html' %}
            {% include 'partialsCustomers/customerForm2.html' %}
            <button class="btn btn-add btn-success" style="width: 100%;" t="save">Guardar</button>
        </div>
    </div>
</form>



<script>
(() => {
    create_form_for_send_the_server('form-create-a-new-customer', `/customers/add_customer`);

    const id_customer = document.getElementById('id-customer').value;
    create_form_for_send_the_server('form-edit-customer', `/customers/edit_customer/${id_customer}/`);
})();
</script>