{% load static %}
{% include 'partialsCustomers/navbarHome.html' %}
<style>

    .img-upload{
        width: 28%;
        height: auto;
    }

    .text-description{
        width: 50%; text-align: left;
    }

    @media (max-width: 768px) {
        .text-description {
            width: 100%;
            text-align: center;
        }

        .img-upload{
            width: 100%;
            height: auto;
        }
    }
</style>
<div class="container-section">
    <center>
        <label for="" t="customers.tutorial.title-upload-excel"></label>
        <br>
        <div class="text-description">
            <label for="" t="customers.tutorial.steps-for-upload-customer-with-excel"></label>
            <br>
            <b for="" t="customers.note.steps-for-upload-customer-with-excel" class="text-alert"></b>
            <br>
        </div>
        <img src="{% static 'img/upload-home.webp' %}" alt="Customer Home" loading="lazy" class="img-upload">
        <input type="file" id="file-input" accept=".xlsx,.xls" style="display: none;">
        <br><br><br><br>

        <div class="row">
            <div class="col">
                <button class="btn btn-info btn-success" t="customers.btn.download-excel" id="btn-download"></button>
            </div>
            <div class="col">
                <button class="btn btn-edit btn-success" t="customers.btn.upload-excel" id="btn-upload"></button>
            </div>
        </div>
        
    </center>
</div>

<script>
(()=>{
document.getElementById('btn-download').addEventListener('click', function() {
    // Descarga directa desde Django
    window.location.href = "{% url 'download_excel_template' %}";
});

document.getElementById('btn-upload').addEventListener('click', function() {
    document.getElementById('file-input').click();
});

document.getElementById('file-input').addEventListener('change', function() {
    const file = this.files[0];
    if (!file) return;

    const formData = new FormData();
    formData.append('file', file);

    fetch("{% url 'upload_excel_customers' %}", {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        alert(data.message || 'Archivo subido correctamente');
    })
    .catch(error => {
        alert('Ocurrió un error al subir el archivo');
        console.error(error);
    });
});
})();

</script>