<plus-modules>
    {% if permissions.edit_system %}
    <plus-module name="setting.module.system" desc="" icon="fi fi-rr-vector">
        {% include 'partials_setting/system.html' %}
    </plus-module>
    {% endif %}


    {% if permissions.edit_company %}
    <plus-module name="setting.module.company" desc="" icon="fi fi-rs-building">
        {% include 'partials_setting/company.html' %}
    </plus-module>
    {% endif %}

    {% if permissions.edit_branch %}
    <plus-module name="setting.module.branch" desc="" icon="fi fi-rr-store-alt">
        {% include 'partials_setting/branch.html' %}
    </plus-module>
    {% endif %}

    {% if permissions.edit_drivers %}
    <plus-module name="setting.module.drives" desc="" icon="fi fi-rr-plug-connection">
        {% include 'partials_setting/drivers.html' %}
    </plus-module>
    {% endif %}

    {% if permissions.edit_schedule %}
    <plus-module name="setting.module.schedule" desc="" icon="fi fi-rr-clock-three">
        {% include 'partials_setting/schedule.html' %}
    </plus-module>
    {% endif %}

    {% if permissions.edit_email %}
    <plus-module name="setting.module.google" desc="" icon="fi fi-rr-envelope">
        {% include 'partials_setting/email.html' %}
    </plus-module>
    {% endif %}

    <plus-module name="setting.module.plus" desc="" icon="fi fi-rs-rocket-lunch">

    </plus-module>
    <plus-module name="setting.module.apps" desc="" icon="fi fi-rs-apps">
        
    </plus-module>
</plus-modules>

<!-------address company-->
{% if permissions.edit_company %}
<message-pop name="address_company" title="setting.label.address">
    <form id="form_address_company">
    <div class="row section">
        <div class="col">
            <plus-country label="setting.label.country" name="country"  value="{{ company.country }}"></plus-country>
        </div>
        <div class="col">
            <input-field 
                label="setting.label.postal_code" 
                placeholder="setting.placeholder.postal_code" 
                value="{{ company.postal_code }}" 
                name="postal_code" 
                type="text">
            </input-field>
        </div>
    </div>

    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.city" 
                placeholder="setting.placeholder.city" 
                value="{{ company.city }}" 
                name="city">
            </input-field>
        </div>
        <div class="col">
            <input-field 
                label="setting.label.state" 
                placeholder="setting.placeholder.state" 
                value="{{ company.state }}" 
                name="state">
            </input-field>
        </div>
    </div>

    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.address" 
                placeholder="setting.placeholder.address" 
                value="{{ company.address }}" 
                name="address">
            </input-field>
        </div>
    </div>
    <br>
    <button class="btn btn-edit btn-success" t="message.success" onclick="send_form_address_company()" type="button"></button>
    </form>
</message-pop>

<script>
    async function send_form_address_company(){
        //send the information to the server and get his answer
        const result = await send_form_to_the_server('form_address_company', 'setting/view_update_company/');

        //we will see if we can add the new customer
        if (result.success) {
            show_notification('success', result.message || 'info.info-send-with-success');
            window.hide_pop('address_company');
        } else {
            show_alert('alert', 'Error', result.message || 'info.not-was-can-send-the-information', (result.error || 'info.not-was-can-send-the-information'))
        }
    }
</script>
{% endif %}

<!-------data of facture of branch-->
{% if permissions.edit_company %}
<message-pop name="facture_branch" title="setting.title.billing-data">
    <div class="container-pop">
    <!-----Número de identificación fiscal (RFC)-->
    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.tax_id" 
                placeholder="setting.placeholder.tax_id" 
                value="{{ company.tax_id }}" 
                name="tax_id" 
                type="text">
            </input-field>
        </div>
    </div>

    <!-----RAZON SOCIAL-->
    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.billing-data-company-name" 
                placeholder="setting.placeholder.billing-data-company-name" 
                value="{{ company.tax_id }}" 
                name="s" 
                type="text">
            </input-field>
        </div>
    </div>

    <!-----REGIMEN FISCAL (en polonia no existe)-->
    <div class="row section">
        <div class="col">
            <plus-select label="setting.label.fiscalRegime">
                {% include 'core/regimen_mx.html' %}
            </plus-select>
        </div>
    </div>

    <!-----address-->
    <div class="row section">
        <div class="col">
            <plus-country label="setting.label.country" name="country"  value="{{ branch.country }}"></plus-country>
        </div>
        <div class="col">
            <input-field 
                label="setting.label.postal_code" 
                placeholder="setting.placeholder.postal_code" 
                value="{{ branch.postal_code }}" 
                name="postal_code" 
                type="text">
            </input-field>
        </div>
    </div>

    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.address" 
                placeholder="setting.placeholder.address" 
                value="{{ branch.address }}" 
                name="address">
            </input-field>
        </div>
    </div>
    </div>
    <br>
    <button class="btn btn-edit btn-success" t="btn.save" onclick="window.hide_pop('facture_branch')"></button>
    <br>
</message-pop>
{% endif %}
