<plus-modules>
    <plus-module name="setting.module.system" desc="" icon="fi fi-rr-vector">
        
    </plus-module>
    <plus-module name="setting.module.company" desc="" icon="fi fi-rs-building">
        
    </plus-module>
    <plus-module name="setting.module.branch" desc="" icon="fi fi-rr-store-alt">

    </plus-module>
    <plus-module name="setting.module.plus" desc="" icon="fi fi-rs-rocket-lunch">

    </plus-module>
    <plus-module name="setting.module.apps" desc="" icon="fi fi-rs-apps">
        
    </plus-module>
</plus-modules>