<plus-modules>
    {% if permissions.edit_system %}
    <plus-module name="setting.module.system" desc="" icon="fi fi-rs-settings">
        {% include 'partials_setting/system.html' %}
    </plus-module>
    {% endif %}


    {% if permissions.edit_company %}
    <plus-module name="setting.module.company" desc="" icon="fi fi-rs-building">
        {% include 'partials_setting/company.html' %}
    </plus-module>
    {% endif %}

    {% if permissions.edit_branch %}
    <plus-module name="setting.module.branch" desc="" icon="fi fi-rr-store-alt">
        {% include 'partials_setting/branch.html' %}
    </plus-module>
    {% endif %}

    {% if permissions.edit_drivers %}
    <plus-module name="setting.module.drives" desc="" icon="fi fi-rr-plug-connection">
        {% include 'partials_setting/drivers.html' %}
    </plus-module>
    {% endif %}

    {% if permissions.edit_schedule %}
    <plus-module name="setting.module.schedule" desc="" icon="fi fi-rr-clock-three">
        {% include 'partials_setting/schedule.html' %}
    </plus-module>
    {% endif %}

    {% if permissions.edit_email %}
    <plus-module name="setting.module.google" desc="" icon="fi fi-rr-envelope">
        {% include 'partials_setting/email.html' %}
    </plus-module>
    {% endif %}

    <plus-module name="ERP" desc="" icon="fi-rr-vector">
    </plus-module>

    <plus-module name="setting.module.plus" desc="" icon="fi fi-rs-rocket-lunch">

    </plus-module>
    <plus-module name="setting.module.apps" desc="" icon="fi fi-rs-apps">
        
    </plus-module>
</plus-modules>

<!-------data of facture of branch-->
{% if permissions.edit_company %}
<message-pop name="facture_branch" title="setting.title.billing-data">
    <div class="container-pop">
    <!-----Número de identificación fiscal (RFC)-->
    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.tax_id" 
                placeholder="setting.placeholder.tax_id" 
                value="{{ company.tax_id }}" 
                name="tax_id" 
                type="text">
            </input-field>
        </div>
    </div>

    <!-----RAZON SOCIAL-->
    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.billing-data-company-name" 
                placeholder="setting.placeholder.billing-data-company-name" 
                value="{{ company.tax_id }}" 
                name="s" 
                type="text">
            </input-field>
        </div>
    </div>

    <!-----REGIMEN FISCAL (en polonia no existe)-->
    <div class="row section">
        <div class="col">
            <plus-select label="setting.label.fiscalRegime">
                {% include 'core/regimen_mx.html' %}
            </plus-select>
        </div>
    </div>

    <!-----address-->
    <div class="row section">
        <div class="col">
            <plus-country label="setting.label.country" name="country"  value="{{ branch.country }}"></plus-country>
        </div>
        <div class="col">
            <input-field 
                label="setting.label.postal_code" 
                placeholder="setting.placeholder.postal_code" 
                value="{{ branch.postal_code }}" 
                name="postal_code" 
                type="text">
            </input-field>
        </div>
    </div>

    <div class="row section">
        <div class="col">
            <input-field 
                label="setting.label.address" 
                placeholder="setting.placeholder.address" 
                value="{{ branch.address }}" 
                name="address">
            </input-field>
        </div>
    </div>
    </div>
    <br>
    <button class="btn btn-edit btn-success" t="btn.save" onclick="window.hide_pop('facture_branch')"></button>
    <br>
</message-pop>
{% endif %}



{% include 'partials_setting/company_setting.html' %}
{% include 'partials_setting/branch_setting.html' %}