<!DOCTYPE html>
<html lang="{{currentLocale}}">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <!--icons-->
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
  <link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css'>
  <link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>


  <!--our styles-->
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/subMenuApp.css">
</head>

<body>
  <!--this is for transform the date to lenguace human and get the language of the buttons and other message in the web-->
  <script src="js/languaceUI.js"></script>

  {{> navbar }}
  {{> messagePop }}
  <br><br>
  
  {{{ body }}}


  <script src="js/navbar.js" defer></script>
  <script src="js/shortcuts.js" defer></script>
  <script src="js/tabs.js" defer></script>
  <script src="js/selectStatus.js" defer></script>
</body>

</html>